#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PREFIX=/usr
export TARGET=mrd6

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix /usr \
		--static mld \
		--static pim \
		--static console \
		--external bgp \
		--external msnip \
		--external mrdisc

override_dh_auto_clean:
	dh_auto_clean
	rm -rf src/build/
	rm -f src/Makefile.options

clean:
	rm -f build
	dh clean

build:
	dh build
	touch build

clean:
	rm -f build
	dh clean

%:
	dh $@
