#!/usr/bin/make -f

# export DH_VERBOSE=1

TARGET = mrd6
DESTDIR = $(CURDIR)/debian/mrd6

export TARGET DESTDIR

configure: configure-stamp

configure-stamp:
	dh_testdir

	config/base.pl \
		--prefix /usr \
		--static mld \
		--static pim \
		--static console \
		--external bgp \
		--external msnip \
		--external mrdisc \

	touch configure-stamp

build: build-stamp

build-stamp: configure
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot

	[ ! -f Makefile ] || $(MAKE) clean
	rm -rf src/build/
	rm -f src/Makefile.options
	rm -f build-stamp configure-stamp

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_install
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
